#crossblade-main {
    position: relative;
    width: 100%;
    height: 100%;
}

#crossblade-source {
    position: absolute;
    width: 100%;
    height: 100%;
}

#crossblade-copy {
    position: absolute;
    width: 100%; 
    height: 100%;
    pointer-events: none;
}

#crossblade-container {
    width: 100%;
    height: 100%;
}
